body {
  font-family: 'Arial', sans-serif;
  background-color: #007ef2;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #FF7F00;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #EC2020;
  text-align: center;
}

form {
  display: grid;
  grid-gap: 15px;
}

label {
  font-weight: bold;
  color: #FF7F00;
}

input,
button {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

button {
  background-color: #eae577;
  color: #8C1717;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.error {
  color: #ff0000;
  font-size: 0.9em;
  margin-top: 5px;
}
